<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
            <div class="row">
              <div class="col-md-6">
                <c-input-group class="mb-3 ">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <select class="form-control">
                    <option>Profile Created By</option>
                  </select>
                </c-input-group>
              </div>
             <div class="col-md-6">
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <select class="form-control">
                  <option>Gender</option>
                </select>
              </c-input-group>
             </div>
            </div>
            <div class="row">
              <div class="col-md-6">  
                <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input type="text" class="form-control" placeholder="Enter First Name"/>
              </c-input-group>
              </div>
              <div class="col-md-6">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input type="text" class="form-control" placeholder="Enter Last Name"/>
                </c-input-group>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <select class="form-control">
                    <option>Day</option>
                  </select>
                </c-input-group>
              </div>
              <div class="col-md-4"> 
                <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <select class="form-control">
                  <option>Month</option>
                </select>
              </c-input-group>
              </div>
              <div class="col-md-4"> 
                <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <select class="form-control">
                  <option>Year</option>
                </select>
              </c-input-group>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <select class="form-control">
                    <option>
                      Religion
                    </option>
                  </select>
                </c-input-group>
              </div>
              <div class="col-md-6">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <select class="form-control">
                    <option>
                      Jamaat
                    </option>
                  </select>
                </c-input-group>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <select class="form-control">
                    <option>
                      Mother Tongue
                    </option>
                  </select>
                </c-input-group>
              </div>
              <div class="col-md-6">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <select class="form-control">
                    <option>
                      Country
                    </option>
                  </select>
                </c-input-group>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <select class="form-control">
                    <option>
                     +91
                    </option>
                  </select>
                </c-input-group>
              </div>
              <div class="col-md-9">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input type="text" class="form-control" placeholder="Enter you 10 digit mobile">
                  
                </c-input-group>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input type="text" class="form-control" placeholder="Enter your Email Id">
                </c-input-group>
              </div>
            </div>
              
              <div class="d-grid">
                <button cButton color="success">Create Account</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
